{% extends 'base.html' %}
{% block content %}
<br>
<h2 class="text-center alert-danger "id="admin">
    Report From Date: {{ f_date }} To Date: {{ t_date }}
</h2>

<form method="POST">
    {% csrf_token %}
    From Date : <input type="date" class="form-control" name="f_date"> To Date : <input class="form-control" type="date" name="t_date">
    <br>
    <input type="submit" class="btn btn-primary" value="View">
    
    <br>
</form>

    <table class="table">
        <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Item Name</th>
              <th scope="col">Price</th>
              <th scope="col">Comment</th>
              <th scope="col">IP</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
              
                {% for i in data %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ i.item_name }}
                    </td>
                    <td>
                        {{ i.price }}
                    </td>
                    <td>
                        {{ i.comment }}
                    </td>
                    <td>
                        {{ i.ip }}
                    </td>
                    <td>
                        {{ i.date }}
                    </td>
                    <td>
                        {{ i.time }}
                    </td>
                </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    
    <a href="{% url 'viewlist' %}" class="btn btn-success">Back</a>
    <a href="{% url 'index' %}" class="btn btn-success">Home</a>
{% endblock content %}
